/*import other CSS files*/

@import "style_foot_head.css";
@import "flipcard.css";

html {
    color: rgb(58, 56, 56);
    font-family: verdana;
}

body {
    padding-top: 60px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    background-color: gray;
}

article {
    min-height: 100%;
}

.box {
    border: solid red 0px;
}

.box1 {
    border: solid red 1px;
}

.box2 {
    border: solid blue 1px;
}

.title_link {
    color: white;
}


/*abhänging von Screensize*/
.container {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sidebar main";
}

.content-item {
    display: flex;
    padding: 0 0 0 0;
}

.fig_r40 {
    width: 40%;
}

.fig_l60 {
    width: 60%;
}

.fig_r60 {
    width: 60%;
}

.fig_l40 {
    width: 40%;
}


@media (max-width:600px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-template-areas:
            "sidebar"
            "main";
    }
    
    .content-item {
        display: grid;
        padding: 0 0 0 0;
    }
    .fig_r40 {
        width: 80%;
    }
    
    .fig_l60 {
        width: 80%;
    }
    
    .fig_r60 {
        width: 80%;
    }
    
    .fig_l40 {
        width: 80%;
    }

}